# ------------------------------------------
# Python
# ------------------------------------------
__pycache__/
*.py[cod]
*.pyo

# ------------------------------------------
# Virtual Environment
# ------------------------------------------
.venv/

# ------------------------------------------
# Environment Variables
# ------------------------------------------
.env
.env.*
!.env.example

# ------------------------------------------
# VS Code
# ------------------------------------------
.vscode/

# ------------------------------------------
# Python Cache
# ------------------------------------------
.pytest_cache/

# ------------------------------------------
# Alembic Cache
# ------------------------------------------
alembic/versions/__pycache__/

# ------------------------------------------
# Operating System
# ------------------------------------------
.DS_Store
Thumbs.db